<!DOCTYPE html>
<meta charset="utf-8">
<head>
<title>Pokémon Interactive Match-up Chart</title>
<link rel="stylesheet" href="typechart.css">
<link rel="stylesheet" href="layout.css">
<link rel="stylesheet" href="statschart.css">
<script src="d3.v3.min.js"></script>
<script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
</head>

<body>
    <link rel="stylesheet" type="text/css" href="battle.css">
    <div id="app" style="visibility:hidden; height:0;">
        <h1>Have a battle!</h1>

        <div class="introduction">
          <p>A random opponent is having a battle with your chosen pokemon! You can change to another below once you finish this battle.</p>
        </div>
       
      <div class="battle-scene">
        <div class="box-top-left">
          <h2 class="pokemon">{{opponentPokemon}}</h2>
          <div class="hp-bar-top">
            <div v-bind:style="opponentHpBar" class="hp-bar-fill"></div>
          </div>
          <h4 class="type">Type: {{opponentType}}</h4>
        </div>
     
     
        <div class="box-top-right">
          <img v-if="opponentAlive" v-bind:src="opponentPokemonSrc" class="pokemon-top" />
        </div>
         <div class="box-bottom-left">
           <img v-if="userAlive" v-bind:src="userPokemonSrc" class="pokemon-bottom" />
        </div>
     
     
        <div class="box-bottom-right">
           <h2 class="pokemon"> {{userPokemon}}</h2>
          <div class="hp-bar-bottom">
            <div v-bind:style="userHpBar" class="hp-bar-fill"></div>
          </div>
          <h4 class="type">Type: {{userType}}</h4>
          <h4 class="hp">{{userFill}}/{{userHP}}</h4>
        </div>
        <div class="bottom-menu">
          <div class="battle-text text-box-left">
            {{battleText}}
          </div>
            <div class="text-box-right">
            <div v-if="optionsOn" id="battleOptions">
               <div v-on:click="processOption(1)" class="battle-text-top-left">{{battleOptions[0]}}</div>
               <div v-on:click="processOption(2)" class="battle-text-top-right">{{battleOptions[1]}}</div>
               <div v-on:click="processOption(3)" class="battle-text-bottom-left">{{battleOptions[2]}}</div>
               <div v-on:click="processOption(4)" class="battle-text-bottom-right">{{battleOptions[3]}}</div> 
              </div>
           <div v-if="fightOn" id="fightOptions">
               <div v-on:click="processAttack(1)" class="battle-text-top-left">{{fightOptions[0]}}</div>
               <div v-on:click="processAttack(2)" class="battle-text-top-right">{{fightOptions[1]}}</div>
               <div v-on:click="processAttack(3)" class="battle-text-bottom-left">{{fightOptions[2]}}</div>
               <div v-on:click="processAttack(4)" class="battle-text-bottom-right">{{fightOptions[3]}}</div> 
              </div>
           <div v-if="endOn" id="endOptions">
               <div v-on:click="resetBattle" class="battle-text-top-left">{{endOptions[0]}}</div>
               <div v-on:click="endBattle"class="battle-text-top-right">{{endOptions[1]}}</div>
           </div>
           <div v-if="waitChoose" id="waitChoose">
              <div v-on:click="chooseDone" class="battle-text-top-left">Start!</div>
              
          </div>
              
          </div>
        
        
      
      </div> 
      
      </div>
      
      </div>

    <h1>Pokemon Relationship</h1>

    <div class="introduction">
      <p>The focus of our project is on Pokemons's Relationship and their stats. The visualizations below illustrate the different types of pokemon, their weakness and strength when battle with other pokemon.  </p>
    </div>
  
    <div class="row row1">
      <div class="column1">
        <h2>Pokemons all have different types.</h2>
        <p>Different types have different damage advantage to other types. The following visualization shows damage advantages among different types.</p>
        <table id="legend">
            <tr>
              <td>Strongly Effective (2x)</td>
              <td><span class="legend strong-effectiveness"></span></td>
            </tr>
            <tr>
              <td>Weakly Effective (.5x)</td>
              <td><span class="legend weak-effectiveness"></span></td>
            </tr>
            <tr>
              <td>Immune (0x)</td>
              <td><span class="legend is-immune"></span></td>
            </tr>
          </table>
      </div>
      <div class="column2">
        <svg id="small" width="800" height="700">
        </svg>
      </div>
    </div>


  
    <div id="bottom" class="row row2">
      <div class="column2_high" id="bottom-col2">
  
        <svg id="large" width="1000" height="600">
        </svg>
        <div style="background: rgba(0,0,0,0); position: absolute; top:200px; left:235px; width:300px; height:300px;">
          <div class="large-row">
            <div class="large-col">
              <img id= "pokemonimg" src=""/>
              <div class="pokemon-property"><span id="pokemonname">Pikachu</span> #<span id="pokemonid">25</span></div>
              <div class="pokemon-property"><button id="choosebtn">I choose you!</button></div>
            </div>
            <div class="large-col">
                <div class="large-title">Stats</div>
                <svg id="stats"></svg>
            </div>
          </div>
          <div class="large-row">
              <div class="large-col">
              <div class="large-title">Resistances</div>
              <ul id="resistances">
                <li>62.5% Damage</li>
                <li>62.5% Damage</li>
                <li>62.5% Damage</li>
              </ul>
              </div>
              <div class="large-col">
                  <div class="large-title">Weaknesses</div>
                  <ul id="weaknesses">
                    <li>160% Damage</li>
                  </ul>
              </div>
              
          </div>
          
        </div>
  
      </div>
      <div class="column1_high">
        <h2> Pokemons are different, they all have different stats</h2>
        <p> A pokemon can have at most 3 different kind of properties, and their stats are all different. Different pokemons can be countered by othere poekmons. In this visiulization, we can show the countered pokemon for the selected properety.</p>

      </div>
    </div>
    </body>

    <script>
        var diameter = 700,
            radius = diameter / 2,
            innerRadius = radius - 100,
            innerRadiusLarge = radius - 30;
    
        var cluster = d3.layout.cluster()
            .size([360, innerRadius])
            .sort(null)
            .value(function(d) { return d.size; });
    
        var bundle = d3.layout.bundle();
    
        var line = d3.svg.line.radial()
            .interpolate("bundle")
            .tension(0.75)
            .radius(function(d) { return d.y; })
            .angle(function(d) { return d.x / 180 * Math.PI; });
    
        window.colorPath = function(d, l, type) {
          var type = type || 'strong';
          if (type == 'strong') {
            if (l.target === d) return l.source.target = true;
          }
          if (type == 'weak') {
            if (l.target === d) return l.source.target = true;
          }
          return false;
        }
      </script>
      <script src="battle.js"></script>
      <script src="typechart.js"></script>