.large-title{
    font-size: 1.0rem;
    background: #f7f7f7;
    border-radius: 10px;
    padding: 5px 20px;
    display:inline-block;
    margin: 20px 0 10px 0;
}

.large-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.large-col{
    position: relative;
}
.column2_high{
    font-size: 0.8rem;
}

ul{
    margin:0;
    padding:0;
    list-style-type: none;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.brush .extent {
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.text-on-chart{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}

.pokemon-property{
    margin: 0 0 10px 0;
}

#choosebtn{
  font-size: 15px;
  color: white;
  background: #7ed3b2;
  border: none;
  padding: 3px;
  border-radius: 15px;
}